$color-white: #fff;
$blue-dark: #4247a2;
$blue-primary: #1173d4;
$blue-medium: #2769a3;
$blue-secondary: #cfe2f3;
$green-dark: #52b095;
$green-primary: #33cc73;
$green-secondary: #d4edda;
$green-medium: #244a2d;
$color-black: #04031c;
$color-black-secondary: #000;
$pink-light: #fdefef;
$pink: #f9d5e5;
$pink-dark: #ad346a;
$white-secondary: #f8f9fa;
$yellow-light: #ffe9c2;
$yellow-dark: #976c00;
$purple: #313461;
$gray: #9fabbc;