$font-principal: "Inter", sans-serif;
$font-secundaria: "Roboto", sans-serif;
@use "src/colors";

@mixin centralizarContainerFlexível {
  display: flex;
  align-items: center;
}

@mixin definirTamanhoForcaFonte($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin definirCorTextBackground($text-color, $background-color) {
  color: $text-color;
  background-color: $background-color;
}

@mixin estilizarGradienteSubtitulo() {
  width: 90%;
  background: linear-gradient(
    to right,
    colors.$blue-primary 0%,
    colors.$green-primary 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  @include definirTamanhoForcaFonte(2.7rem, bold);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font-principal;
}

header {
  @include centralizarContainerFlexível();
  height: 90vh;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    @include centralizarContainerFlexível();
    width: 80%;
    justify-content: space-around;
    margin-top: 30px;
    height: 10vh;
    background: linear-gradient(
      to right,
      colors.$blue-dark 0%,
      colors.$green-dark 100%
    );
    border-radius: 50px;

    nav {
      @include centralizarContainerFlexível();
      width: 40%;
      height: 10vh;
      justify-content: space-evenly;
    }

    a {
      font-family: $font-secundaria;
      color: colors.$color-white;
      @include definirTamanhoForcaFonte(1.25rem, 400);
    }
  }

  .box-banner {
    @include centralizarContainerFlexível();
    width: 80vw;
    height: 80vh;

    .box-titulo {
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        @include estilizarGradienteSubtitulo();
      }

      p {
        @include definirTamanhoForcaFonte(1.5rem, 400);
        color: colors.$color-black;
        width: 60%;
      }
    }

    .box-container-buttons {
      display: flex;
      gap: 2rem;

      button {
        height: 7vh;
        padding: 0.6rem 2rem;
        @include centralizarContainerFlexível();
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        @include definirTamanhoForcaFonte(1rem, 500);
        transition: 0.3s;
      }

      .button-azul {
        @include definirCorTextBackground(
          colors.$color-white,
          colors.$blue-primary
        );

        &:hover {
          background-color: colors.$blue-medium;
        }
      }

      .button-branco {
        @include definirCorTextBackground(
          colors.$blue-primary,
          colors.$white-secondary
        );
        border: 1px solid colors.$blue-primary;

        &:hover {
          color: colors.$blue-dark;
          border: 1px solid colors.$blue-dark;
        }
      }
    }
  }
}

.box-importancia {
  @include definirCorTextBackground(
    colors.$color-black,
    colors.$white-secondary
  );
  height: 90vh;
  flex-direction: column;
  @include centralizarContainerFlexível();
  justify-content: space-evenly;

  h2 {
    @include estilizarGradienteSubtitulo();
    text-align: center;
  }

  p {
    @include definirTamanhoForcaFonte(1.3rem, 400);
    width: 75%;
    text-align: center;
  }

  .container-vantagens {
    display: flex;
    justify-content: space-evenly;

    article {
      width: 30%;
      height: 40vh;
      background-color: colors.$white-secondary;
      flex-direction: column;
      @include centralizarContainerFlexível();
      justify-content: space-evenly;
      box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }

    img {
      width: 15%;
    }

    h3 {
      @include definirTamanhoForcaFonte(1.3rem, 600);
    }

    p {
      font-size: 1.2rem;
    }
  }
}
.prevencao-feminina {
  background-color: colors.$pink-light;  
  h2 {
    background: linear-gradient(
      to right,
      #f9016f 54%,
      #930885 61.96%,
      #d038aa 75.48%,
      #851c87 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.prevencao-masculina {
  background-color: colors.$white-secondary;    
  h2 {
    background: linear-gradient(
      to right,
      #3373D2,
      #6F95C7,
      #7BB5F5,
      #0074EE,
      #5EA7EF,
    );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.prevencao-feminina,
.prevencao-masculina {
  height: 140vh;
  flex-direction: column;  
  justify-content: space-evenly;
  @include centralizarContainerFlexível();

  h2 {
    @include definirTamanhoForcaFonte(2.7rem, bold); 
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 3rem;

    article {
      width: 250px;
      height: 50vh;
      background-color: colors.$color-white;
      flex-direction: column;
      @include centralizarContainerFlexível();
      gap: 0.5rem;
      box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }

    img {
      margin-top: 20px;
      height: 100px;
      width: 35%;
    }

    h3 {
      font-family: $font-secundaria;
      @include definirTamanhoForcaFonte(1.3rem, bold);     
    }

    ul {
      width: 80%;
      li {
        font-family: $font-secundaria;       
        margin-top: 10px;
        @include definirTamanhoForcaFonte(0.9rem, 400);
      }
    }
  }
}

.box-alertas {
  height: 90vh;
  border: 1px solid purple; 
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
  @include centralizarContainerFlexível();

  h2 {
    @include estilizarGradienteSubtitulo();
    text-align: center;    
  }

  .container-alertas {
    height: 70vh;
    display: flex;
    border: 1px solid yellow;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    gap: 2rem;

    article {
      width: 45%;
      flex-direction: column;
      display: flex; 
      justify-content: flex-start;          
      border: 1px solid red;
      height: 30vh;
      gap: 2rem;
      padding: 1rem;

      .caixa-flexivel {
        @include centralizarContainerFlexível();       
        gap: 0.5rem;
      }
    }
  }
}

@media (max-width: 1800px) {  
  .prevencao-feminina,
  .prevencao-masculina {
    height: 160vh;
    .container-cards {
      article {
        height: 60vh;
      }
    }
  }
}

@media (max-width: 1500px) {
  .prevencao-feminina,
  .prevencao-masculina {
    height: 140vh;
    .container-cards {
      article {
        height: 50vh;
      }
    }
  }
}

@media (max-width:1209px){
   .prevencao-feminina,
  .prevencao-masculina {
    height: 210vh;
    .container-cards {
      width: 90%;
      gap: 2rem;
      article {
        width: 300px;
        height: 55vh;
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    background-position: center;
    .box-header {
      nav {
        width: 60%;
      }
    }
  } 
}

@media (max-width: 1000px) {
  header {
    background: colors.$color-white;
    height: 100vh;
    .box-banner {
      width: 100vw;
      justify-content: center;
      text-align: center;

      .box-titulo {
        align-items: center;
      }
    }
  }

  .box-importancia {
    height: 150vh;

    .container-vantagens {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      article {
        width: 80%;
        height: 35vh;
      }
    }
  }
}

@media (max-width:701px){
  
   .prevencao-feminina
   {
      height: 380vh;   
  }
  .prevencao-masculina {
    height: 320vh;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  header {
    .box-header {
      width: 95%;
      a {
        font-size: 1rem;
      }

      img {
        width: 30%;
        height: 45px;
      }
    }
  }

  .box-importancia {
    height: 170vh;
    p {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 201px) and (max-width: 500px) {
  header {
    height: 80vh;
    .box-header {
      width: 95%;
      a {
        font-size: 0.8rem;
      }

      img {
        width: 25%;
        height: 45px;
      }
    }

    .box-banner {
      width: 90vw;
      .box-titulo {
        h2 {
          font-size: 2.3rem;
        }

        p {
          font-size: 1.3rem;
          width: 80%;
        }
      }

      .box-container-buttons {
        button {
          font-size: 0.9rem;
          padding: 0.6rem 1.2rem;
        }
      }
    }
  }

  .box-importancia {
    height: 190vh;

    h2 {
      font-size: 2rem;
      width: 100%;
    }

    p {
      width: 100%;
      font-size: 1.2rem;
      padding: 0 1rem;
    }

    // .container-vantagens {
    //   article {
    //     width: 60%;
    //   }
    // }
  }

  .prevencao-feminina, .prevencao-masculina {
    h2 {
      font-size: 2rem;
    }
  }
}
