 $font-principal: "Inter", sans-serif;
 $font-secundaria: "Roboto", sans-serif;
 $color-white: #fff;
 $blue-dark: #4247A2;
 $blue-primary:#1173D4;
 $blue-medium:#2769A3;
 $blue-secondary:#CFE2F3;
 $green-dark: #52B095;
 $green-primary:#33CC73;
 $green-secondary:#D4EDDA;
 $green-medium:#244A2D;
 $color-black:#04031C;
 $color-black-secondary:#000;
 $pink-light:#FDEFEF;
 $pink:#F9D5E5;
 $pink-dark:#AD346A;
 $white-secondary:#F8F9FA;
 $yellow-light:#FFE9C2;
 $yellow-dark:#976C00;
 $purple:#313461;
 $gray:#9FABBC;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font-principal;
}

header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #567;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    height: 10vh;
    background: linear-gradient(to right, $blue-dark 0%, $green-dark 100%);
    border-radius: 50px;
    border: 1px solid #544;

    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    a {
      font-family: $font-secundaria;
      color: $color-white;
      font-weight: 400;
      font-size: 1.25rem;
    }
  }

  .box-banner {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;    
    justify-content: center;
  }
}
