$font-principal: "Inter", sans-serif;
$font-secundaria: "Roboto", sans-serif;
$color-white: #fff;
$blue-dark: #4247a2;
$blue-primary: #1173d4;
$blue-medium: #2769a3;
$blue-secondary: #cfe2f3;
$green-dark: #52b095;
$green-primary: #33cc73;
$green-secondary: #d4edda;
$green-medium: #244a2d;
$color-black: #04031c;
$color-black-secondary: #000;
$pink-light: #fdefef;
$pink: #f9d5e5;
$pink-dark: #ad346a;
$white-secondary: #f8f9fa;
$yellow-light: #ffe9c2;
$yellow-dark: #976c00;
$purple: #313461;
$gray: #9fabbc;

@mixin centralizarContainerFlexível {
  display: flex;
  align-items: center;
}

@mixin definirTamanhoForcaFonte($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font-principal;
}

header {
  @include centralizarContainerFlexível();
  height: 90vh;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    @include centralizarContainerFlexível();
    width: 80%;
    justify-content: space-around;
    margin-top: 30px;
    height: 10vh;
    background: linear-gradient(to right, $blue-dark 0%, $green-dark 100%);
    border-radius: 50px;

    nav {
      @include centralizarContainerFlexível();
      width: 40%;
      height: 10vh;
      justify-content: space-evenly;
    }

    a {
      font-family: $font-secundaria;
      color: $color-white;
      @include definirTamanhoForcaFonte(1.25rem, 400);
    }
  }

  .box-banner {
    @include centralizarContainerFlexível();
    width: 80vw;
    height: 80vh;

    .box-titulo {
      height: 60vh;
      display: flex;
      flex-direction: column;   
      justify-content: space-evenly;    

      h2 {
        width: 90%;
        background: linear-gradient(to right, $blue-dark 0%, $green-dark 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        @include definirTamanhoForcaFonte(2.7rem, bold);
      }

      p {
        @include definirTamanhoForcaFonte(1.5rem, 400);
        color: $color-black;
        width: 60%;
      }
    }

    .box-container-buttons {
      display: flex;      
      gap: 2rem;

      button {
        height: 7vh;
        padding: 0.6rem 2rem;
        @include centralizarContainerFlexível();
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        @include definirTamanhoForcaFonte(1rem, 500);
        transition: 0.3s;
      }

      .button-azul {
        background-color: $blue-primary;
        color: $color-white;

        &:hover {
          background-color: $blue-medium;
        }
      }

      .button-branco {
        background-color: $white-secondary;
        color: $blue-primary;
        border: 1px solid $blue-primary;

        &:hover {
          color: $blue-dark;
          border: 1px solid $blue-dark;
        }
      }
    }
  }
}
