 $font-principal: "Inter", sans-serif;
 $font-secundaria: "Roboto", sans-serif;
 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font-principal;
}

header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #567;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    height: 10vh;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
    border-radius: 50px;
    border: 1px solid #544;

    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    a {
      font-family: $font-secundaria;
      color: #fff;
      font-weight: 400;
      font-size: 1.25rem;
    }
  }
}
