$font-principal: "Inter", sans-serif;
$font-secundaria: "Roboto", sans-serif;
@use "src/colors";

@mixin centralizarContainerFlexível {
  display: flex;
  align-items: center;
}

@mixin definirTamanhoForcaFonte($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin definirCorTextBackground ($text-color, $background-color){
   color: $text-color;
   background-color: $background-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font-principal;
}

header {
  @include centralizarContainerFlexível();
  height: 90vh;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    @include centralizarContainerFlexível();
    width: 80%;
    justify-content: space-around;
    margin-top: 30px;
    height: 10vh;
    background: linear-gradient(
      to right,
      colors.$blue-dark 0%,
      colors.$green-dark 100%
    );
    border-radius: 50px;

    nav {
      @include centralizarContainerFlexível();
      width: 40%;
      height: 10vh;
      justify-content: space-evenly;
    }

    a {
      font-family: $font-secundaria;
      color: colors.$color-white;
      @include definirTamanhoForcaFonte(1.25rem, 400);
    }
  }

  .box-banner {
    @include centralizarContainerFlexível();
    width: 80vw;
    height: 80vh;

    .box-titulo {
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        width: 90%;
        background: linear-gradient(
          to right,
          colors.$blue-dark 0%,
          colors.$green-dark 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        @include definirTamanhoForcaFonte(2.7rem, bold);
      }

      p {
        @include definirTamanhoForcaFonte(1.5rem, 400);
        color: colors.$color-black;
        width: 60%;
      }
    }

    .box-container-buttons {
      display: flex;
      gap: 2rem;

      button {
        height: 7vh;
        padding: 0.6rem 2rem;
        @include centralizarContainerFlexível();
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        @include definirTamanhoForcaFonte(1rem, 500);
        transition: 0.3s;
      }

      .button-azul {
        @include definirCorTextBackground(colors.$color-white, colors.$blue-primary);    

        &:hover {
          background-color: colors.$blue-medium;
        }
      }

      .button-branco {
        @include definirCorTextBackground(colors.$blue-primary, colors.$white-secondary);     
        border: 1px solid colors.$blue-primary;

        &:hover {
          color: colors.$blue-dark;
          border: 1px solid colors.$blue-dark;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    background-position: center;
    .box-header {
      nav {
        width: 60%;
      }
    }
  }
}

@media (max-width:1000px) {
  header {
    background: colors.$color-white;
    height: 100vh;
    .box-banner {
      width: 100vw;
      justify-content: center;
      text-align: center;

      .box-titulo {
        align-items: center;
      }
    }

  }
}

@media (min-width: 501px) and (max-width: 900px) {
  header {
    .box-header {
      width: 95%;
      a {
        font-size: 1rem;
      }

      img {
        width: 30%;
        height: 45px;
      }
    }
  }
}

@media (min-width: 201px) and (max-width: 500px) {
  header {
    height: 80vh;
    .box-header {
      width: 95%;
      a {
        font-size: 0.8rem;
      }

      img {
        width: 25%;       
        height: 45px;
      }
    }

    .box-banner {
      .box-titulo {
        h2 {
          font-size: 2.3rem;
        }

        p {
          font-size: 1.3rem;
          width: 80%;
        }
      }

      .box-container-buttons {
        button{
          font-size: 0.9rem;
          padding: 0.6rem 1.2rem;         
        }
      }
    }
  }
}
