$font-principal: "Inter", sans-serif;
$font-secundaria: "Roboto", sans-serif;
@use 'colors';

@mixin centralizarContainerFlexível {
  display: flex;
  align-items: center;
}

@mixin definirTamanhoForcaFonte($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font-principal;
}

header {
  @include centralizarContainerFlexível();
  height: 90vh;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    @include centralizarContainerFlexível();
    width: 80%;
    justify-content: space-around;
    margin-top: 30px;
    height: 10vh;
    background: linear-gradient(to right, colors.$blue-dark 0%, colors.$green-dark 100%);
    border-radius: 50px;

    nav {
      @include centralizarContainerFlexível();
      width: 40%;
      height: 10vh;
      justify-content: space-evenly;
    }

    a {
      font-family: $font-secundaria;
      color: colors.$color-white;
      @include definirTamanhoForcaFonte(1.25rem, 400);
    }
  }

  .box-banner {
    @include centralizarContainerFlexível();
    width: 80vw;
    height: 80vh;

    .box-titulo {
      height: 60vh;
      display: flex;
      flex-direction: column;   
      justify-content: space-evenly;    

      h2 {
        width: 90%;
        background: linear-gradient(to right, colors.$blue-dark 0%, colors.$green-dark 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        @include definirTamanhoForcaFonte(2.7rem, bold);
      }

      p {
        @include definirTamanhoForcaFonte(1.5rem, 400);
        color: colors.$color-black;
        width: 60%;
      }
    }

    .box-container-buttons {
      display: flex;      
      gap: 2rem;

      button {
        height: 7vh;
        padding: 0.6rem 2rem;
        @include centralizarContainerFlexível();
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        @include definirTamanhoForcaFonte(1rem, 500);
        transition: 0.3s;
      }

      .button-azul {
        background-color: colors.$blue-primary;
        color: colors.$color-white;

        &:hover {
          background-color: colors.$blue-medium;
        }
      }

      .button-branco {
        background-color: colors.$white-secondary;
        color: colors.$blue-primary;
        border: 1px solid colors.$blue-primary;

        &:hover {
          color: colors.$blue-dark;
          border: 1px solid colors.$blue-dark;
        }
      }
    }
  }
}
